[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
django-extensions = "*"
social-auth-app-django = "*"
django-webpack-loader = "*"
twilio = "*"
addict = "*"
